
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}


nav {
    width: 20%;
    background-color: #000;
    color: white;
    padding: 20px;
    height: 100vh;
}

nav h2 {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    border-radius: 5px solid wthite;
}

nav li {
    margin: 15px 0;
    border-radius: 10px solid white;
}

nav a {
    color: white;
    text-decoration: none;
}


main {
    width: 50%;
    padding: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


section {
    margin-bottom: 20px;
}

section input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

section button {
    padding: 10px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 20px;
}


article {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}


aside {
    width: 30%;
    padding: 20px;
    background-color: #f5f8fa;
    height: 100vh;
}

aside ul {
    list-style: none;
    padding: 0;
}

footer {
    display: none;
}