body{
    margin:0;
    font-family:Arial, sans-serif ;
    background-color: #0f0f41;
}

 nav{
    background-color: #050542; 
    padding: 10px 20px;
     display: flex;
     align-items: center;

 }
 nav img{
    width: 35px;
    vertical-align: middle;     
    margin-right: 20px;
 }
 nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
 }
 .signin{
    float: right;
    margin-left: auto ;
    padding: 5px 10px;
 }
 .signup{
    float:right;
    margin-top: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
 }
 section{
    text-align: center;
    margin:40px;
    padding:60px 20px
 }
 section h2{
    font-size: 50px;
    color: #f9f4f4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 20px;
 }
 section p{
        font-size: 18px;
        color: #c9d1d9;
        max-width: 700px;
        margin: 0 auto;
 }}

 section input {
    display: block;
    margin: 30px auto;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}
section button {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    color: #050542;
    border:1px solid #050542;
    border-radius: 5px;
}
article {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}
aside {
    background-color: #e0e0e0;
    padding: 20px;
}
aside h3{
    color:black;
    margin-top: 0;
}
aside a{
   color:black;
   border-radius: 10px;
   position: relative;
   bottom: 0;
   text-align: center;
}
footer {
    background-color: #0d1117;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
}